@import url('https://fonts.googleapis.com/css?family=Catamaran');

p {
  line-height: 20px;
}

.landing-screen {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-title {
  max-width: 1000px;
}

.landing-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.landing-screen .landing-text {
  color: #000;
  font-size: 10em;
}

.second-screen {
  background-color: rgb(42,42,42);
  background-image: url(../img/earth.jpg);
  background-position: center;
  height: 100vh;
  padding: 3em;
  background-size: cover;
  background-position-y: -18em;
  background-repeat: no-repeat;
}

.third-screen {
  background-color: rgb(44,60,50);
  background-image: url(../img/earth-two.jpg);
  background-position: center;
  height: 100vh;
  padding: 3em;
  background-size: cover;
  background-position-x: 26em;
  background-position-y: -25em;
  background-repeat: no-repeat;
}

.fourth-screen {
  background-color: rgb(42,42,42);
  background-image: url(../img/moon.jpg);
  background-position: center;
  height: 100vh;
  padding: 3em;
  background-size: cover;
  background-position-y: -2em;
  background-repeat: no-repeat;
}

.landing-subtext {
  color: #fff;
  font-size: 4em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1em 0 0 0;
}

.info-container {
  color: #fff;
  display: flex;
  padding: 3em 0 0 0;
}

.fourth-screen .info-container {
  color: #000;
}

.about {
  flex: 1;
}

.details {
  flex: 1;
}

.details-header {
  padding-bottom: 1em;
  font-size: 1.5em;
}